alembic==1.7.1
beautifulsoup4==4.10.0
cachelib==0.4.1
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-Caching==1.10.1
Flask-Markdown==0.3
Flask-Migrate==3.1.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.1
gunicorn==20.1.0
importlib-resources==5.2.2
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.5
Markdown==3.3.4
MarkupSafe==2.0.1
psycopg2-binary==2.9.1
python-dotenv==0.19.1
redis==3.5.3
soupsieve==2.2.1
SQLAlchemy==1.4.23
urllib3==1.25.8
Werkzeug==2.0.1
WTForms==2.3.3
zipp==3.5.0
pylibmc==1.5.2
