<div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link disabled" href="#">MarkDown</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          {{display}}
          <a href="#" class="btn btn-primary">Copy</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link disabled" href="#">HTML</a>
            </li>
          </ul>
        </div>
        <div class="card-body">

          {{display|markdown|safe}}
          <a href="#" class="btn btn-primary">Copy</a>
        </div>
      </div>
    </div>