body{
    font-family:'Montserrat';
    font-weight: 400;
    text-align:center;
  }
  
  
h1{
font-family:'Montserrat',sans-serif;
font-size:2.3rem;
line-height:1.3;
font-weight:400;
}

h2{
font-family:'Montserrat',sans-serif;
font-size:1.5rem;
line-height:1;
font-weight:300;
}

h3{
font-family:'Montserrat',sans-serif;
font-size:1.2rem;
line-height:1;
font-weight:200;
}

p{
color:rgb(209, 209, 209);
font-size:0.8rem;
margin-top:8px;
  }

  /* sections */
.black-section{
  background-color: #333333;
}
.search-section{
    background-color: #333333;
    color:#fff;
  }
  
.result-section{
background-color: #eeeeee;
color:#0f0f0f

}

.blue-section{
background-color: #333333;
}
/* Title */

#title .container-fluid{
  padding:1% 10%;
}

/*search*/
#search{
  background-color: #333333;
  color: #fff;
  text-align: left;
}
#search .container-fluid{
  padding:1% 10% 5% 10%;
}
#search .rowLogo{
  text-align: left;
  margin:5% 0%;
  
}
.comingSoon{
  text-align: center;
  color: rgba(240, 75, 103, 0.842);
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}


/* Input Area */
.urlInput{
  padding:5% 2%;
}

#validateError{
  margin:10px;
  color:lightcoral;
}

/* Result  */
#result .container-fluid{
  padding:3% 20%;
}
.textTitle{
  text-align:center;
}
.optionButtons{
  padding:1% 0 2% 0;
  
}

.textarea.form-control::placeholder {
  font-weight: 300;
}
.textarea.form-control {
  padding-left: 0.8rem;
  height: 100%;
  width: 100%;
}
.showresult{
  text-align:left;
  padding:3% 0;
}


.hrcollapse{
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  flex: 1;
  border: none;
  height: 2px;
  background: black;
}

/* Footer Section */
#footer .container-fluid{
  padding:3% 0%
}

.social-icon{
margin:20px 10px;
}
.icon-section{
padding-bottom:20px
}
